header {
    background-color: #BA324F;
    color: #4BA3C3;
    padding: 3rem;
}
.header_img {
    max-width: 15rem;
    margin: auto;
    display: block;
}
.logo {
    max-width: 6rem;
    border-radius: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
}
#navbar a.active {
    color: #4BA3C3;
}
#navbar p.pending {
    color: white;
}



footer {
    display: flex;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: rgb(67, 53, 92);
    color: #4BA3C3;
    gap: 2rem;
}
footer p {
    margin: 0;
}
footer div {
    display: flex;
    flex-direction: column;
}