/* General styling */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Home */

main {
  padding: 1rem;
  color: #4BA3C3;
  background-color: black;
}
main h1 {
  color: #CCE6F4;
}
section {
  padding-bottom: 3rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}
.grid img {
  max-width: 10rem;
  margin: auto;
  display: block;
}

.card {
  border: 0.2rem solid white;
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
.website_img {
  max-width: 20rem;
  margin: auto;
  display: block;
}
.home_btn button{
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
.blue_btn {
  background-color: #CCE6F4;
}






/* Info Page */

.BG_white {
  background-color: white;
  margin: -1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  color: #215669;
}
.BG_white h1 {
  color: #4BA3C3;
}
.me_jpg {
  max-width: 15rem;
  margin: auto;
  display: block;
}

.white_box {
  border: 0.2rem solid #CCE6F4;
  color: #61dafb;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
.code_png {
  max-width: 20rem;
  margin: auto;
  display: block;
}




/* Gallery */